.container {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sociallinks {
    padding-top:0;
    height:100vh;
    background-color:#000;
}

.user {
    display:flex;
    align-items:center;
    background-color:#56878d;
    border-bottom:solid #363535;
    border-width:1px 0;
}

.userimg {
    float:left;
    border-radius:50%;
    height:100px;
    vertical-align:middle;
    margin-left:1%;
    margin-top:1%;
    margin-bottom:1%;
}

.userh1 {
    float:left;
    overflow:hidden;
    margin-left:10px;
    color:#fff;
}

.social {
    display:flex;
    align-items:center;
    background-color:#171717;
    height:75px;
    border-bottom:solid #363535;
    border-width:1px 0;
    text-decoration:none;
}

.social:visited {
    color:#fff;
}


.socialimg {
    height:55px;
    padding:1%;
    filter: invert(1);
}

.linktitle {
    color:#fff;
}